@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #ff6347;
  --dark: rgb(11, 11, 11);
  --gray: #676767;
  --bg-color: #ffffff;
  --text-color: rgb(6, 6, 6);
}

[data-theme="dark"] {
  --bg-color: rgb(38, 38, 38);
  --text-color: #ffffff;
  --dark: rgb(238, 222, 222);
  --gray: rgb(221, 216, 216);
}
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55px;
  height: 40px;
  background-color: black;
  border-radius: 80px;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--primary);
}

.theme-toggle .toggle-circle {
  width: 24px;
  height: 24px;
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

[data-theme="dark"] .theme-toggle {
  background-color: var(--primary);
}

[data-theme="dark"] .theme-toggle .toggle-circle {
  transform: translateX(30px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}
.app {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
